<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <controlSources>
      <source mode="on" namespace="HedgehogDevelopment.SharedSource.DescriptiveTreelist.Shell.Applications.ContentEditor" assembly="HedgehogDevelopment.SharedSource.DescriptiveTreelist" prefix="content" />
    </controlSources>

  </sitecore>
</configuration>